.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.testimonial-group {
  max-width: 500px;
}

.testimonial-group > .row {
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block;
  float: none;
}

.main-photo {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  margin: 20px;
  border-radius: 50%;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.main-close {
  position: relative;
  top: 50px;
  left: 10px;  
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 25px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.dopple-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /*position: relative;*/
  /*bottom: 20px;  */
}


.text-center {
  height: 130px;
  overflow-y: hidden;
  margin-bottom: 20px;  
}
/* Decorations */
/*.testimonial-group > .row > .col-xs-4 { color: #fff; font-size: 48px; padding-bottom: 20px; padding-top: 18px; }
.testimonial-group > .row > .col-xs-4:nth-child(3n+1) { background: #c69; }
.testimonial-group > .row > .col-xs-4:nth-child(3n+2) { background: #9c6; }
.testimonial-group > .row > .col-xs-4:nth-child(3n+3) { background: #69c; }*/

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bottom-nav {
  height: 50px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: black;
  max-width: 500px;
}

.col-bottom {
  text-align: center;
}


.bottom-icon {
  font-size: 32px;
  line-height: 44px;  
}
